body{
    margin: 0;
    height: 100vh;
    background-image: url(SecondRoom.png);
    background-repeat:no-repeat;
    background-position:center;
    background-size: contain;
    background-attachment:fixed;
    background-size:cover  ;
}
body, html {
    overflow: hidden;
}
.fridge {
    position: absolute;
    bottom: 75px;
    right: 518px;
}

.arrow{
    width: 115px;
    height: 90px;
    position: absolute;
    bottom: 375px;
    left: 10px;

}
.drawer{
    position: absolute;
    bottom: 188px;
    right: 387px;
}

.popup {
    visibility: hidden;
    opacity: 0; 
    transform: translate(-50%, -50%) scale(0.8);
    position: fixed;
    top: 50%;
    left: 50%;
    width: 600px;
    padding: 100px;
    background-color: rgba(255, 255, 255, 0.514);
    box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
    z-index: 1000;
    transition: transform 0.5s ease, opacity 0.5s ease;

}

.popup.active {
    visibility: visible;
    opacity: 1;
    transition: translate(-50%, -50%) scale(1);
}

.container.active, .container#blurDoor.active, .container#blurGlobe.active{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba(68, 66, 66, 0.253);
    z-index: 500;
    opacity: 1;
    transition: opacity 0.5s ease;
}
.show {
    display: block;
}

.btn2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 100;
    padding: .5em .5em;
    color: white;
    background-color: rgb(204, 82, 82);
    border: 3px solid rgb(158, 14, 14);
    border-radius: 2px;

    transition: transform 0.4s, background-color 0.3s, color 0.3s;
}
.btn2:hover {
    transform: scale(1.1);
    background-color: rgb(158, 14, 14);
    color: white;
}

.popup-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    gap: 20px;
}

.text-content {
    flex: 1; 
}

.image-content img {
    max-width: 400px;
    height: auto; 
    display: block;
    margin: 0;
    
}
