body {
    margin: 0;
    overflow: hidden;
    background-image: url(introscreen.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.fade {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

section {
    perspective: 1000px;
    height: 100%;
}

.container {
    position: absolute;
    top: 100%;
    width: 90%;
    left: 5%; 
    font-family: 'Times New Roman', serif;
    font-size: 1.8rem; 
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    transform-origin: 50% 100%;
    transform: rotateX(20deg);
    animation: starwars 60s linear;
    color: #fbfbfb;
}

.container.stationary {
    animation: none; 
    transform: none; 
    top: 10%; 
    left: 5%;
    font-size: 1.4rem; 
    width: 90%; 
    line-height: 1.5;
    text-align: center;
}

@keyframes starwars {
    0% {
        top: 100%;
        transform: rotateX(20deg) translateZ(0);
    }
    100% {
        top: -300%;
        transform: rotateX(20deg) translateZ(-2000px);
    }
}

.text-center {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s ease-in;
}

.text-center.visible {
    visibility: visible;
    opacity: 1;
}

.btn{
    font-family:'Times New Roman', Times, serif;
    font-size: 50px;
    font-weight: 150;
    padding: 0em .5em;
    color: white;
    background-color: rgba(204, 82, 82, 0.426);
    border: 3px solid rgba(129, 39, 39, 0.56);
    border-radius: 2px;

    transition: transform 0.4s, background-color 0.3s, color 0.3s;
}
.btn:hover {
    transform: scale(1.1);
    background-color: rgba(158, 14, 14, 0.181);
    color: white;
}
a{
    color: rgba(235, 30, 30, 0.852);
    text-decoration: none;
}